[user]
	name = "Franck Demathieu"
	email = fdemathieu@gmail.com

[core]
	autocrlf = false
	eol = lf
	gitproxy = /home/demathif/gitproxy.sh

[color]
	ui = auto

[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	lol = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short
	flip = "!sh -c 'git rebase --quiet --onto HEAD~2 HEAD~1 HEAD; git cherry-pick ORIG_HEAD~1'"
	update = "!sh -c 'git remote | xargs -L1 -P8 git remote update -p'"
	fixup = "!sh -c 'c=$(git rev-list -1 HEAD $0); git commit --no-edit --fixup $c $0'"
	fixall = "!sh -c 'for f in $(git diff --name-only); do git fixup $f; done'"
	sed = "!git grep -z --full-name -l '.' | xargs -0 sed -i -e"
	spull1 = "!sh -c 'git pull $0 $1 && git submodule sync --recursive && git submodule update --init --recursive'"
	spull = "!sh -c 'echo $@; __git_spull() { echo git pull $0 $1 && git submodule sync --recursive && git submodule update --init --recursive; }; __git_spull()'"

[diff]
	tool = vimdiff
	guitool = meld
	submodule = log

[status]
	submoduleSummary = true

#[url "https://"]
#	insteadOf = git://

[sendemail]
	from = Franck Demathieu <fdemathieu@gmail.com>
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = fdemathieu@gmail.com
