homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: 43.6359922
  longitude: 6.8551552
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 250
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Paris
  # Customization file
  customize: !include customize.yaml

# Show links to resources in log and frontend
introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  base_url: bootes2.ddns.net
  ssl_certificate: /etc/letsencrypt/live/bootes2.ddns.net/fullchain.pem
  ssl_key: /etc/letsencrypt/live/bootes2.ddns.net/privkey.pem
  #api_password: gps1980

#no_ip:
#  domain: bootes2.ddns.net
#  username: YOUR_USERNAME
#  password: YOUR_PASSWORD

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

# Sensors
sensor:
  # Weather prediction
  - platform: yr
    monitored_conditions:
      - temperature
      - symbol
      - precipitation

  # Bbox sensor
  - platform: bbox
    monitored_variables:
      - down_max_bandwidth
      - up_max_bandwidth
      - current_down_bandwidth
      - current_up_bandwidth

  - platform: command_line
    name: SSL cert expiry
    unit_of_measurement: days
    scan_interval: 10800
    command: "ssl-cert-check -b -c /etc/letsencrypt/live/bootes2.ddns.net/cert.pem | awk '{ print $NF }'"

shell_command:
  renew_ssl: ~/certbot/certbot-auto renew --quiet --no-self-upgrade --standalone --preferred-challenges http-01

automation:
  - alias: 'Auto Renew SSL Cert'
    trigger:
      platform: numeric_state
      entity_id: sensor.ssl_cert_expiry
      below: 29
    action:
      service: shell_command.renew_ssl

# Text to speech
tts:
  - platform: google
    language: 'fr'

# Cloud
cloud:

media_player:
  - platform: kodi
    host: 192.168.1.6
    name: arcturus

zone:
  - name: Ecole
    latitude: 43.625027
    longitude: 6.886511
    radius: 250
    icon: mdi:school
  - name: Travail
    latitude: 43.627510
    longitude: 7.049670
    radius: 250
    icon: mdi:briefcase
  - name: Pelissanne
    latitude: 43.637660
    longitude: 5.160880
    radius: 250
    icon: mdi:home-account
  - name: Sanary
    latitude: 43.118970
    longitude: 5.804760
    radius: 250
    icon: mdi:home-account

# Bbox tracker
device_tracker:
  - platform: bbox
  - platform: gpslogger

notify:
  - name: sms_with_free_mobile
    platform: free_mobile
    username: 24155030
    access_token: CGijuEZuLyCZRm

logger:
  default: critical
  logs:
    homeassistant.components.http.ban: warning

group: !include groups.yaml
script: !include scripts.yaml
